.Hero-Home {
  background-image: url('https://vignette.wikia.nocookie.net/fantendo/images/3/35/8018_super-smash-bros-for-nintendo-3ds-wii-u.png/revision/latest?cb=20160124122405');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}